.bg-gray {
    background: #F8F9FA;
    color:      #667189;
}

.section-header {
    padding:  1rem .5rem;
    position: fixed;
    top:      0;
    width:    100%;
    z-index:  200;
}

.grid-header .navbar {
    height: 4rem;
}

.section-header .navbar-section {
    padding: 0 .5rem;
}

.grid-header .btn-link {
    color:         #667189;
    padding-left:  .6rem;
    padding-right: .6rem;
}

.trak-sidebar {
    padding: 7rem 1rem 5rem 1rem;
}

.sidebar-nav {
    top: 8rem;
}
